@import "../../styles/variables";

.root {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $background;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px;
    width: 448px;

    &__input {
      color: blue;
      border-radius: 12px;
    }
  }
}
