@import "../../../../styles/variables.scss";

.choose-amount {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__form {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 320px;
  }
}
