@import "../../../../styles/variables";

.header {
  display: flex;
  gap: 8px;

  justify-content: start;
  align-items: center;
  height: 48px;

  &:global(.container) {
    margin-bottom: 12px;
  }

  &__title {
    text-transform: capitalize;
  }
}
