@import "../../../../styles/variables";

.wallets {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  overflow: auto;

  padding-top: 0;
  padding-bottom: 16px;

  margin: auto;
  width: 100%;

  //medium
  @media screen and (min-width: 1201px) {
    max-width: 1296px;
    padding-left: 48px;
    padding-right: 48px;
  }

  //small desktop
  @media screen and (min-width: 901px) and (max-width: 1200px) {
    padding-left: 48px;
    padding-right: 48px;
  }

  //tablet
  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  //mobile
  @media screen and (max-width: 600px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.wallet {
  background-color: $neutral-10;

  border: solid 1px $neutral-20;
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  flex-shrink: 0;

  &:hover {
    background-color: rgba($neutral-10, 0.75);
  }

  &__logo {
    background-color: rgba($neutral-10, 0.25);
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
  }
}
