@import "../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  gap: 8px;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba($neutral-0, 0.75);

  justify-content: start;
  align-items: center;
  height: 48px;
  z-index: 1;

  &:global(.container) {
    // margin-bottom: 12px;
  }

  &__title {
    text-transform: capitalize;
  }

  
  
}
